<app-header></app-header>

<app-navbar></app-navbar>

<div  class="container-fluid text-center">
  <div class="row">

    <aside class="col-sm-3 card"><app-sidebar></app-sidebar></aside>

    <content class="col-sm-9">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </content>
  </div>
</div>

<app-footer></app-footer>
