<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <div class="container-fluid">

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="#">Books</a>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['']">Catalog</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Deals</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Stores</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        <li class="nav-item dropdown" ngbDropdown >
          <button class="nav-link dropdown-toggle bg-dark" ngbDropdownToggle id="dropdown">Actions</button>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown">
            <a class="dropdown-item" [routerLink]="['/book-create']">Add book</a>
            <a class="dropdown-item" [routerLink]="['']">List books</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-user"></span> Your Account</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>
